body {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Lato', sans-serif;    
    background-color: rgb(172, 216, 255);
    color: white;
}

h1 {
    font-size: 7vw;
}

#display {    
    font-size: 20vw;
    background-color: rgb(172, 216, 255, 0);
    box-shadow: black;
    border-radius: 5vw;
    display: flex;
    flex-direction: column;
}

#date {
    background-color: rgb(0, 124, 124);
    border-radius: 3vw;
    margin: auto;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

#time {
    background-color: rgb(0, 100, 100);
    border-radius: 3vw;
    margin: auto;
}

#bar {
    margin-left: 0;
    height: 15vh;
    z-index: -1;
    position: fixed;
    left: 0px;
    top: 80vh;
    background-color: black;
}