body {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20vw;
    font-family: 'Lato', sans-serif;    
    color: rgb(0, 0, 0);

}

#display {
    background-color: rgb(0, 136, 255);
    border-radius: 5vw;
    display: flex;
    flex-direction: column;
}

#date {
    background-color: rgb(185, 255, 255);
    border-radius: 3vw;
    margin: auto;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

#time {
    background-color: rgb(0, 100, 100);
    border-radius: 3vw;
    margin: auto;
}
